// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#admin-page{
    padding-top: 0px;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    height: 108PX;
}

.rely-form{
    display: none;
}